# .NET
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
.vs/
*.suo
*.user
*.rsuser
*.csproj.user
appsettings.Development.json
appsettings.Production.json

# Angular
node_modules/
dist/
.angular/
.npm

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
